<div id="dashboard">
  <h1><%= @user.name %>'s Movie List </h1>
  <p>You currently have <%= movie_count %> ranked movies in your list:</p>
  <table>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Genre</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @user.movies.each do |movie| %>
    <tr>
        <td><a href="/movie/<%= movie.id %>"><%= movie.name %></a></td>
        <td><%= movie.rating %></td>
        <td><%= movie.genres.first.name %></td>
        <td><a href="/user/<%= @user.id %>/<%= movie.name %>">EDIT</a></td>
        <td>
          <form action="/delete/<%= movie.name %>" method="POST" id="delete-button">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete">
          </form>
        </td>
    </tr>
    <% end %>
  </table>

  <div id="add-movie">
    <a href="/user/<%= @user.id %>/add">ADD MOVIE</a>
  </div>

</div>