<div id="edit-movie">

  <form action='/user/<%= @user.id %>/<%= @movie.name %>' method="POST">
    <input type="hidden" name="_method" value="PUT">
    Name: <input type="text" name="movie[name]" value="<%= @movie.name %>"><br>
    Genre:<input type="text" name="genre[name]" value="<%= @movie.genres.first.name %>"><br>
    Description: <input type="text" name="movie[description]" value="<%= @movie.description %>"><br>
    <input type="text" name="movie[rating]" value="<%= @movie.rating %>"><br>
    <input type="submit">
  </form>

</div>