<div class="container">

    <ul id="movie-show">
      <li>Name: <%= @movie.name %></li>
      <li>Genre: <%= @movie.genres.first.name %></li>
      <li>Description: <%= @movie.description %></li>
      <li>Rating: <%= @movie.rating %></li>
    </ul>

    <% if current_user %>
    <div>
      <p><a href="/user/<%= current_user.id %>/<%= @movie.name %>">Edit this movie</a></p>
    </div>
    <% end %>
</div>